
      .main-container {
        max-width: 100% !important;
        margin: 0;
        padding: 0;
      }

      .mycontent{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        font-size: 100%;
        line-height: 1.7;
      }

      h1 {
        background-color: #f0f0f0;
        padding-top: 60px;
        padding-bottom:65px; 
        margin: 0;
        margin-top: -15px;
        height: 140;
        padding-left: 110px;
      }

      .band.full {
        position: relative;
        margin-bottom: -91px;
      }
              
      .bandContent, {
        margin: 0 auto;
        max-width: 1140px;
        z-index: 2;
      }

      #rStudioFooter {
        position: relative;
        z-index: 2;

        box-sizing: border-box;
        height: 91px;
      }
      
      #rStudioFooter.band {

        background-color: #f0f0f0;
        padding: 30px 5%;

        color:#777777;

        font-weight: 300;
        font-size: 14px;

        line-height: 25px;
      }
      
      #rStudioFooter .bandContent {
        color: #777777;

        display: flex;
        justify-content: space-between;
        align-items: center;

        line-height: 35px;
      }
      
      #rStudioFooter .bandContent #copyright {
        flex-shrink: 5;
      }
      
      #rStudioFooter .bandContent #logos {
        flex-shrink: 1;
      }

      #rStudioFooter .bandContent .footerLogo {
        display: inline-block;
        height: 25px;
        width: 25px;

        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;

        margin: 0 8px;
      }
      
      a:link{
        text-decoration: underline;
      }
